.vbox {
    -fx-border-color: #2e8b57;
    -fx-border-width: 2px;
    -fx-padding: 10;
    -fx-spacing: 8;
    -fx-background-color: white;
}

.vbox:hover {
    -fx-border-color: red;
    -fx-border-width: 2px;
    -fx-padding: 10;
    -fx-spacing: 8;
    -fx-background-color: black;
}

.background{
	-fx-background-color: #1d1d1d;
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: red;
    -fx-opacity: 0.6;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}